body {
    background-color: forestgreen;
    font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
    color: whitesmoke;
    text-align: center;
}
h2 {
    color: whitesmoke;
    text-decoration: underline;
}
a {
    color: blue;
}
.about {
    border: 4px, solid, whitesmoke;
    padding: 3px;
    border-bottom: 2px;
}
.skills {
    border: 4px, solid, whitesmoke;
    padding: 3px;
    border-bottom: 2px;
}
.projects {
    border: 4px, solid, whitesmoke;
    padding: 3px;
    border-bottom: 2px;
}
.contact {
    border: 4px, solid, whitesmoke;
    padding: 3px;
}